DEBUG=True
SECRET=replace-with-your-django-secret
APP_NAME=com.softtronic.qrollcall
WEB_APP=qrollcall.com
TIME_ZONE=Africa/Nairobi
DB_NAME=qrollcall
DB_USER=avnadmin
DB_PASSWORD=replace-with-your-database-password
DB_HOST=mysql-211d288f-database254.k.aivencloud.com
DB_PORT=21778
